
/*
  imdone.io Styles
  Jake Ruesch 2016
*/


/*------------------------------------------------------------------
    Global Styles
-------------------------------------------------------------------*/

@import 'mixins';
@import 'responsive_styles';

* {
    margin:0; padding:0;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    }

html{ overflow:scroll; background: #fff; }

body{ font-family: 'Roboto', sans-serif !important; }
/* !important overrides Bootstrap */

a{
     &:hover{
    }

}


p{  }

ul{ list-style:none; }

hr{  }

h1,h2,h3,h4,h5{  }

::selection{ color: #fff; background: $dark-grey; }

.text-blue{       color: $blue; }
.text-green{      color: $green; }
.text-gold{       color: $gold; }
.text-dark-grey{  color: $dark-grey; }
.text-light-grey{ color: $light-grey; }

.bg-blue{       color: $blue; }
.bg-green{      color: $green; }
.bg-gold{       color: $gold; }
.bg-dark-grey{  color: $dark-grey; }
.bg-light-grey{ color: $light-grey; }

/* END: Global Styles */

/*------------------------------------------------------------------
    Bootstrap Overrides
-------------------------------------------------------------------*/

.navbar{ margin-bottom: 0 !important; }

.navbar-collapse,
.navbar-default{
  background: #fff !important;
}

.navbar-collapse{
  font-family: 'Roboto', sans-serif !important;
  text-transform: uppercase;
  color: $dark-grey;
  font-size: 16px;
}

/* END: Bootstrap Overrides */


/*------------------------------------------------------------------
    Misc Classes
-------------------------------------------------------------------*/

.clear{ clear: both; }

.left{  float:left; }
.right{ float:right; }

.bold{      font-weight:bold;}
.italic{    font-style: italic; }
.underline{ text-decoration:underline; }

.center_text{ text-align:center; }
.all_caps{    text-transform:uppercase; }
.lower_case{  text-transform:lowercase; }

/* End Misc Classes */



/*------------------------------------------------------------------
    Navigation
-------------------------------------------------------------------*/

.navbar-brand{
  p,img{ float: left; }
  img{
    height: 30px;
    margin:-5px 10px 0 0; }
  p{
    color: $dark-grey;
    font-size: 25px;
    font-weight: 500;
  }
}


/* End Navigation */


/*------------------------------------------------------------------
    Footer
-------------------------------------------------------------------*/

.footer{
  margin-top:10px;
  padding: 10px 0;
  border-top: 1px solid #ddd;

  p{
    text-align: center;
    color: $light-grey;
    font-size: 13px;
  }
}

/* End Footer */


/*------------------------------------------------------------------
    Elements
-------------------------------------------------------------------*/

.button-green{
  background: $green;
  padding:15px 20px;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-weight: 900;
  font-size: 20px;

  &:hover,
  &:focus{
    background: #47c84f;
    text-decoration: none;
    color: #fff;
  }
}

.banner-large{
  padding: 55px 0;
  background: url(../images/banner-large.png) 50% 0%;

  p{
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-weight: 300;
    font-size: 35px;
    text-align: center;
  }

  .banner-text{
    img{
      width: 1.5em;
      margin-right: 10px;
    }
  }
}

.call-to-action-container{
  h4{
    margin-bottom:30px;
    text-align:center;
    color: $gold;
  }

  .button-green{
    width:100%;
    float:left;
    text-align:center;
  }
}

.blue-icon{
  height: 70px;
  width: 70px;
  margin: 30px 0;
  border-radius: 35px;
  background: $blue;
}

.grey-icon{
  height: 70px;
  width: 70px;
  margin: 30px 0;
  border-radius: 35px;
  background: $light-grey;
}

.connect-container{
  padding: 15px 0;
  background: #f3f3f3;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

/* END: Elements */
