/*
  imdone.io Styles
  Jake Ruesch 2016
*/
/*------------------------------------------------------------------
    Global Styles
-------------------------------------------------------------------*/
/*------------------------------------------------------------------

    Mixins

-------------------------------------------------------------------*/
/* Colors */
/* End Mixins */
/*------------------------------------------------------------------

    Responsive Styles
    
-------------------------------------------------------------------*/
/*------------------------------------------------------------------

    Mixins

-------------------------------------------------------------------*/
/* Colors */
/* End Mixins */
/*-----------------  Desktops  -----------------*/
/* End Desktops */
/*-----------------  Smartphones  -----------------*/
/* End Smartphones */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  overflow: scroll;
  background: #fff; }

body {
  font-family: 'Roboto', sans-serif !important; }

/* !important overrides Bootstrap */
ul {
  list-style: none; }

::selection {
  color: #fff;
  background: #464646; }

.text-blue {
  color: #6f8fd4; }

.text-green {
  color: #3fad46; }

.text-gold {
  color: #f3b625; }

.text-dark-grey {
  color: #464646; }

.text-light-grey {
  color: #9a9a9a; }

.bg-blue {
  color: #6f8fd4; }

.bg-green {
  color: #3fad46; }

.bg-gold {
  color: #f3b625; }

.bg-dark-grey {
  color: #464646; }

.bg-light-grey {
  color: #9a9a9a; }

/* END: Global Styles */
/*------------------------------------------------------------------
    Bootstrap Overrides
-------------------------------------------------------------------*/
.navbar {
  margin-bottom: 0 !important; }

.navbar-collapse,
.navbar-default {
  background: #fff !important; }

.navbar-collapse {
  font-family: 'Roboto', sans-serif !important;
  text-transform: uppercase;
  color: #464646;
  font-size: 16px; }

/* END: Bootstrap Overrides */
/*------------------------------------------------------------------
    Misc Classes
-------------------------------------------------------------------*/
.clear {
  clear: both; }

.left {
  float: left; }

.right {
  float: right; }

.bold {
  font-weight: bold; }

.italic {
  font-style: italic; }

.underline {
  text-decoration: underline; }

.center_text {
  text-align: center; }

.all_caps {
  text-transform: uppercase; }

.lower_case {
  text-transform: lowercase; }

.icon {
  width: 30px;
  margin: 20px 0 0 20px;
  fill: #fff; }

/* END: Misc Classes */
/*------------------------------------------------------------------
    Navigation
-------------------------------------------------------------------*/
.navbar-brand p, .navbar-brand img {
  float: left; }
.navbar-brand img {
  height: 30px;
  margin: -5px 10px 0 0; }
.navbar-brand p {
  color: #464646;
  font-size: 25px;
  font-weight: 500; }

/* EEND: Navigation */
/*------------------------------------------------------------------
    Footer
-------------------------------------------------------------------*/
.footer {
  margin-top: 10px;
  padding: 10px 0;
  border-top: 1px solid #ddd; }
  .footer p {
    text-align: center;
    color: #9a9a9a;
    font-size: 13px; }

/* END: Footer */
/*------------------------------------------------------------------
    Plans and Pricing
-------------------------------------------------------------------*/
.plans-and-pricing {
  width: 100%; }
  .plans-and-pricing .bordered-table,
  .plans-and-pricing .bordered-table td {
    border: 1px solid #ddd; }
  .plans-and-pricing td {
    color: #9a9a9a;
    width: 25%;
    padding: 10px;
    text-align: center;
    vertical-align: middle; }
  .plans-and-pricing img {
    height: 15px; }

/* END: Plans and Pricing */
/*------------------------------------------------------------------
    Elements
-------------------------------------------------------------------*/
.button-green {
  background: #3fad46;
  padding: 15px 20px;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-weight: 900;
  font-size: 20px; }
  .button-green:hover, .button-green:focus {
    background: #47c84f;
    text-decoration: none;
    color: #fff; }

.banner-large {
  padding: 55px 0;
  background: url(../images/banner-large.png) 50% 0%; }
  .banner-large p {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-weight: 300;
    font-size: 35px;
    text-align: center; }
  .banner-large .banner-text img {
    width: 1.5em;
    margin-right: 10px; }

.banner-small {
  padding: 35px 0 30px 0;
  background: url(../images/banner-large.png) 50% 0%; }
  .banner-small p {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-weight: 300;
    font-size: 30px;
    text-align: center; }
  .banner-small .banner-text img {
    width: 1.5em;
    margin-right: 10px; }

.call-to-action-container h4 {
  margin-bottom: 30px;
  text-align: center;
  color: #f3b625; }
.call-to-action-container .button-green {
  width: 100%;
  float: left;
  text-align: center; }

.blue-icon {
  height: 70px;
  width: 70px;
  margin: 30px 0;
  border-radius: 35px;
  background: #6f8fd4; }

.grey-icon {
  height: 70px;
  width: 70px;
  margin: 30px 0;
  border-radius: 35px;
  background: #9a9a9a; }

.dark-grey-icon {
  height: 70px;
  width: 70px;
  border-radius: 35px;
  background: #464646; }

.connect-container {
  padding: 15px 0;
  background: #f3f3f3;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd; }
  .connect-container .connect-icons .connect-table {
    display: table;
    margin: 0 auto; }
    .connect-container .connect-icons .connect-table .connect-icons li {
      display: inline-block;
      margin: 0 3px; }

/* END: Elements */

/*# sourceMappingURL=style.css.map */
